<form>
  <div class="mb-3">
    <label class="form-label">Internal data update rate (s)</label>
    <input type="number" name="app_updateRate" class="form-control" value="{{ updateRate }}">
  </div>
  <div class="mb-3">
      <input class="form-check-input" type="checkbox" id="enable_pcutilities">
      <label class="form-label">Enable PC utilities</label>
  </div>
  <div class="mb-3">
      <input class="form-check-input" type="checkbox" id="enable_raspberryPi">
      <label class="form-label">Enable Raspberry Pi</label>
  </div>   
</form>