Source: mqtt-presence
Section: python
Priority: optional
Maintainer: Bjoern Boeckle <Bjoern@Boeckle-net.de>
Build-Depends: debhelper-compat (= 12), dh-python, python3-all
Standards-Version: 4.5.0
Homepage: https://github.com/bjoernboeckle/mqtt-presence
Vcs-Git: https://github.com/bjoernboeckle/mqtt-presence.git
Vcs-Browser: https://github.com/bjoernboeckle/mqtt-presence

Package: mqtt-presence
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Lightweight MQTT-based presence detection
 A small Python daemon using MQTT to detect system presence,
 expose shutdown/reboot buttons and support Raspberry Pi GPIO.
