[Unit]
Description=MQTT Presence Service
After=network.target

[Service]
ExecStart=/usr/bin/env python3 -m mqtt_presence --config /etc/mqtt-presence --log /var/log/mqtt-presence
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target